header{
    background-color: rgba(0, 0, 0, 0.79);
    height: 120px;
  
}

.titulo{
    margin-top: 1%;
    color: white;
    font-size: 48px;
}

.sub-titulo{
    margin-top: 1%;
    margin-right: 3%;
    color: white;
    font-size: 28px;
}

.nav{
    margin-right: 3%;
}

.nav-item{
    margin-left: 20px;

}

.nav-item a{
    font-size: 18px;
}

.logo{
    margin-left: 3%;
    margin-top: 1%;
    height: 80px;
    width: 100px;
}